a, a:hover {
  color:#2a2b2b ;
}


/* Back to top button */
.back-to-top {
  background:#04dda7;
  color: #fff;
}


.back-to-top:focus {
  background:#2a2b2b ;
  color: #fff;
}

.back-to-top:hover {
  background: #2a2b2b;
  color: #fff;
}

.navbar-default {
  background:#2a2b2b ;
}

.form-control:focus {
  border-color:#2a2b2b ;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 0 2px#2a2b2b ;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px#2a2b2b ;
}

.service .carousel-indicators .active {
  background:#04dda7 ;
}

.btn-theme {
  background:#2a2b2b ;
}

.contact-widget i {
  color:#04dda7 ;
}
